body{
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 20px;
}

.container{
    width: 100%;
}

h1{
    margin-bottom: 5px;
}

.subtitulo{
    color: gray;
    margin-top: 0;
}

.foto{
    width: 250px;
    border-radius: 10px;
}

.botao{
    display: inline-block;
    color: white;
    background: black;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

section{
    margin-top: 20px;
}

section p{
    margin: 8px 0;
}

section a{
    text-decoration: none;
    color: blue;
}